body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171923;
  font-family: sans-serif;
}

.form {
  width: 50%;
  height: 100px;
  /* background-color: #37f515; */
  margin: 0 auto;
}

form {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

::placeholder {
  color: white;
}

input {
  width: 93%;
  height: 50px;
  background-color: #2D3748;
  float: left;
  margin-top: 30px;
  border: none;
  border-radius: 45px;
  padding-left: 50px;
  font-size: 20px;
  color: #ffffff;
  float: left;
}

button {
  position: absolute;
  margin: 31px 0 0 -81px;
  width: 80px;
  height: 50px;
  border-radius: 45px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
  background-color: #2D3748;
  border: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: #262c38;

}

.natija {
  width: 58%;
  height: 500px;
  background-color: #1A202C;
  margin: 30px auto 0 auto;
  color: white;
  border-radius: 10px;
  border-left: 4px solid #1576f5;
  box-shadow: 2px 2px 5px 5px #2D3748;

}

.result {
  width: 100%;
  height: 100%;

}


.mom {

  width: 65px;
  height: 30px;
  margin-top: 8px;
  border-radius: 50px;
  border: 1px solid white;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  margin: 20px 0 0 46%;


}

.mn {
  margin-left: 55px;
  margin-top: 5px;
  /* font-size: 21px; */
  cursor: pointer;
  position: fixed;
  position: relative;
  z-index: 2;
  /* color:rgb(239, 212, 178); */

}



.sun {
  font-size: 22px;
  margin-left: 3px;
  margin-top: 4px;
  cursor: pointer;
  position: absolute;
  z-index: 2;

}

.oy {
  color: rgb(243, 241, 237);
  width: 29px;
  height: 30px;
  background-color: blue;
  border-radius: 50%;
  margin-top: -27px;
  margin-left: 53.5%;
  cursor: pointer;
  position: relative;
  transition: 0.4s;


}

.img img {
  width: 42%;
  border-radius: 50%;
  margin: 100px 0 0 50px;
}

.img {
  float: left;
}

.user {
  width: 50%;
  /* background-color: #1576f5; */
  margin: 0 0 0 50%;
  height: 100%;
}

.name {
  position: absolute;
  margin: 80px 0 0 0;
  font-size: 20px;
}

.login {
  font-size: 25px;
  color: #1576f5;
}

.bio {
  font-size: 20px;
  width: 90%;
  /* background-color: #1576f5; */
}

.flowers {
  width: 20%;
  height: 80px;
  background-color: #171923;
  position: absolute;
  margin: 18% 0 0 0;
  border-radius: 15px;
}

#pp {
  margin: -10px 0 0 5px;
}

.f1,
.f2,
.f3 {
  float: left;
  padding-left: 20px;
  font-size: 18px;
}

.tvr {
  float: left;
}

.man {
  margin: 0px 0 15px 180px;
 
}

.comp {
  margin: 0px 0 0 180px;
  

}


.link {
  float: left;
}

.manzil {
  position: absolute;
  margin: 25% 0 0 10px;
}

a{
  color: #1576f5;
}
span{
  padding-left: 5px;
}

@media screen and (max-width:1200px) {
  .form {
    width: 65%;
  }

  .natija {
    width: 70%;
  }
}

@media screen and (max-width:800px) {
  .form {
    width: 85%;
    margin: 0 0 0 4%;
  }

  .natija {
    width: 90%;
    height: 830px;
  }
  .user{
    position: absolute;
    width: 90%;
    margin: 250px 0 0 10px;
  }
  .flowers{
    width: 90%;
    margin-top: 270px;
  }
 .man{
  width: 0;
 }
 .manzil{
  margin-top: 380px;
 }
 .man , .link ,.comp , .tvr{
  float: none;
  margin: 15px 0 0 0;
 }

 span{
  margin: 0;
  padding: 0;

 }
 #name{
  font-size: 25px;
 }

 .man{
  width: 100%;
 }
 .contenr{
  width: 100%;
margin-bottom: 100px;

  
 }
 .img img{
  width: 60%;
 }
 .mom{
 right:50px;
 }

}

